/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/aide
/autom4te.cache/
/check_aide
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/version.m4
/ylwrap

/include/config.h
/include/config.h.in
/include/stamp-h1

/src/*.o
/src/.deps/
/src/.dirstamp
/src/conf_lex.c
/src/conf_yacc.c
/src/conf_yacc.h

/tests/.deps/
/tests/.dirstamp
/tests/check_aide*.o
