---
name: AIDE CI macOS

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        compiler: [gcc, clang]

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: brew install autoconf autoconf-archive automake bison pkg-config libgcrypt libgpg-error pcre2 check
      - name: update path
        run: echo /opt/homebrew/opt/bison/bin >> ${GITHUB_PATH}
      - name: autoconf
        run: ./autogen.sh
      - name: configure
        run: ./configure
        env:
          CC: ${{ matrix.compiler }}
      - name: make
        run: make
      - name: make check
        run: make check
      - name: make distcheck
        run: make distcheck
